{
    "extends": "airbnb",
//    "parser": "babel-eslint",
    "rules": {
      "no-plusplus": "off",
      "react/jsx-max-props-per-line": "off",
      "import/no-mutable-exports": "off",
      "react/prefer-stateless-function" : "off",
      "no-param-reassign": "off",
      "react/require-default-props": "off",
      "no-extend-native": "off",
      "func-names": ["error", "never"],
      "no-use-before-define": ["error", { "functions": false }],
      "no-shadow": "off"
    },
    "env": {
      "browser": true
    }
  }
