.parrotfish >div:nth-child(1) {
    clip-path: polygon(7.013% 37.714%, 12.812% 34.286%, 26.012% 40%);
    background-color: #ff9763; }
.parrotfish >div:nth-child(2) {
    clip-path: polygon(14.313% 38.714%, 12.313% 48.857%, 14.313% 60.714%);
    background-color: #02ac96; }
.parrotfish >div:nth-child(3) {
    clip-path: polygon(9.112% 62.286%, 28.813% 54.714%, 16.313% 63.286%);
    background-color: #d66b5b; }
.parrotfish >div:nth-child(4) {
    clip-path: polygon(14.313% 38.5%, 22.9% 48.429%, 14.25% 60.6%);
    background-color: #e58557; }
.parrotfish >div:nth-child(5) {
    clip-path: polygon(14.213% 38.429%, 25.912% 39.857%, 22.813% 48.429%);
    background-color: #ed8e5b; }
.parrotfish >div:nth-child(6) {
    clip-path: polygon(14.313% 60.571%, 22.813% 48.429%, 28.813% 54.857%);
    background-color: #e37364; }
.parrotfish >div:nth-child(7) {
    clip-path: polygon(22.712% 48.5%, 25.912% 39.714%, 28.7% 54.77%);
    background-color: #e58557; }
.parrotfish >div:nth-child(8) {
    clip-path: polygon(25.912% 39.85%, 47.713% 44.286%, 28.75% 54.9%);
    background-color: #08da9f; }
.parrotfish >div:nth-child(9) {
    clip-path: polygon(31.712% 41.2%, 31.813% 30.714%, 52.25% 22.8%);
    background-color: #a06891; }
.parrotfish >div:nth-child(10) {
    clip-path: polygon(29.213% 59%, 31.212% 53.4%, 47.713% 62.3%);
    background-color: #a74876; }
.parrotfish >div:nth-child(11) {
    clip-path: polygon(31.712% 41.2%, 47.813% 26.286%, 47.713% 44.3%);
    background-color: #5cefb2; }
.parrotfish >div:nth-child(12) {
    clip-path: polygon(31.112% 53.429%, 47.813% 44.143%, 47.713% 62.286%);
    background-color: #00c290; }
.parrotfish >div:nth-child(13) {
    clip-path: polygon(47.713% 26.429%, 56.112% 35.286%, 47.713% 44.286%);
    background-color: #30e5aa; }
.parrotfish >div:nth-child(14) {
    clip-path: polygon(47.713% 44.286%, 56.3% 53.143%, 47.713% 62.35%);
    background-color: #00c794; }
.parrotfish >div:nth-child(15) {
    clip-path: polygon(47.713% 44.286%, 56.112% 35.429%, 56.112% 53.286%);
    background-color: #00cc97; }
.parrotfish >div:nth-child(16) {
    clip-path: polygon(47.713% 26.35%, 52.22% 22.6%, 66.112% 25.7%);
    background-color: #ffc86d; }
.parrotfish >div:nth-child(17) {
    clip-path: polygon(47.6% 26.4%, 66.112% 25.714%, 56.012% 35.4%);
    background-color: #ffba5b; }
.parrotfish >div:nth-child(18) {
    clip-path: polygon(56.012% 35.286%, 66.1% 25.714%, 68.212% 48%);
    background-color: #ffaa5a; }
.parrotfish >div:nth-child(19) {
    clip-path: polygon(53.15% 38.35%, 56.012% 35.286%, 68.5% 48.3%);
    background-color: #583c3e; }
.parrotfish >div:nth-child(20) {
    clip-path: polygon(52.812% 44.6%, 53.212% 38.286%, 68.5% 48.2%);
    background-color: #3b2e37; }
.parrotfish >div:nth-child(21) {
    clip-path: polygon(52.812% 44.54%, 68.4% 48%, 56.112% 53.429%);
    background-color: #744f44; }
.parrotfish >div:nth-child(22) {
    clip-path: polygon(47.7% 62.286%, 56.15% 53.2%, 65.813% 64.571%);
    background-color: #f86826; }
.parrotfish >div:nth-child(23) {
    clip-path: polygon(56.012% 53.143%, 68.212% 48%, 65.712% 64.571%);
    background-color: #fa7637; }
.parrotfish >div:nth-child(24) {
    clip-path: polygon(54.012% 70.143%, 57.913% 63.429%, 65.612% 64.5%);
    background-color: #f4542e; }
.parrotfish >div:nth-child(25) {
    clip-path: polygon(66.112% 25.857%, 86.513% 43.571%, 68.112% 48.143%);
    background-color: #ff9658; }
.parrotfish >div:nth-child(26) {
    clip-path: polygon(68.112% 47.857%, 86.513% 43.429%, 65.6% 64.62%);
    background-color: #fa8637; }
.parrotfish >div:nth-child(27) {
    clip-path: polygon(65.712% 64.286%, 82.013% 48%, 85.513% 53.286%);
    background-color: #ba694b; }
.parrotfish >div:nth-child(28) {
    clip-path: polygon(75.113% 43.714%, 76.712% 40.857%, 79.813% 42.571%);
    background-color: #32a4f0; }
.parrotfish >div:nth-child(29) {
    clip-path: polygon(82% 47.9%, 86.45% 43.5%, 88.413% 47.571%);
    background-color: #32a4f0; }
.parrotfish >div:nth-child(30) {
    clip-path: polygon(82% 48%, 87.112% 50.571%, 85.413% 53.286%);
    background-color: #0078a1; }
/*.parrotfish >div.peripheral {*/
    /*background-color: #fff;*/
    /*-webkit-animation: bubbles 1s infinite forwards;*/
    /*-moz-animation: bubbles 1s infinite forwards;*/
    /*animation: bubbles 1s infinite forwards; }*/
/*.parrotfish >div.peripheral:nth-child(31) {*/
    /*clip-path: polygon(95% 18.5%, 95.5% 22%, 97% 20%); }*/
/*.parrotfish >div:nth-child(32) {*/
    /*clip-path: polygon(91.67% 9.5%, 92.3% 8.4%, 92.7% 9.7%);*/
    /*-webkit-animation-delay: 0.3s;*/
    /*-moz-animation-delay: 0.3s;*/
    /*animation-delay: 0.3s; }*/
/*.parrotfish >div:nth-child(33) {*/
    /*clip-path: polygon(87.75% 35.5%, 89.4% 37%, 89.1% 34.5%);*/
    /*-webkit-animation-delay: 0.6s;*/
    /*-moz-animation-delay: 0.6s;*/
    /*animation-delay: 0.6s; }*/

.ostrich >div:nth-child(1) {
    clip-path: polygon(24.6% 27.143%, 32.8% 33.1%, 25.8% 38.4%);
    background-color: #f8f1e8; }
.ostrich >div:nth-child(2) {
    clip-path: polygon(25.8% 38.286%, 32.7% 33.286%, 30.1% 39.429%);
    background-color: #bcae92; }
.ostrich >div:nth-child(3) {
    clip-path: polygon(29.9% 39.143%, 32.6% 33%, 33.45% 44.1%);
    background-color: #0c0d08; }
.ostrich >div:nth-child(4) {
    clip-path: polygon(32.5% 33%, 43.3% 30.857%, 33.4% 44.15%);
    background-color: #191919; }
.ostrich >div:nth-child(5) {
    clip-path: polygon(33.4% 44.1%, 40.3% 34.6%, 53.4% 41.1%);
    background-color: #222627; }
.ostrich >div:nth-child(6) {
    clip-path: polygon(40.1% 34.714%, 43.1% 31%, 45.8% 37.714%);
    background-color: #191919; }
.ostrich >div:nth-child(7) {
    clip-path: polygon(33.4% 44%, 53.4% 41%, 60.8% 58.429%);
    background-color: #141414; }
.ostrich >div:nth-child(8) {
    clip-path: polygon(42% 28.5%, 53.2% 40.857%, 45.6% 37.429%);
    background-color: #b9bbb0; }
.ostrich >div:nth-child(9) {
    clip-path: polygon(42.1% 28.571%, 48.7% 27.143%, 53.3% 41.1%);
    background-color: #f8f1e8; }
.ostrich >div:nth-child(10) {
    clip-path: polygon(37.5% 60%, 50% 43.1%, 51.7% 51.857%);
    background-color: #c1bdb4; }
.ostrich >div:nth-child(11) {
    clip-path: polygon(50% 43.2%, 54.6% 45.429%, 51.6% 52%);
    background-color: #f8f1e8; }
.ostrich >div:nth-child(12) {
    clip-path: polygon(37.5% 60%, 50% 43.3%, 46% 46%);
    background-color: #b4b4aa; }
.ostrich >div:nth-child(13) {
    clip-path: polygon(37.5% 60%, 39.6% 58.857%, 46.4% 77%);
    background-color: #918e87; }
.ostrich >div:nth-child(14) {
    clip-path: polygon(38.5% 61.7%, 46.3% 76.857%, 44.4% 79.286%);
    background-color: #727272; }
.ostrich >div:nth-child(15) {
    clip-path: polygon(42.1% 81.429%, 46.3% 77%, 42.7% 89.571%);
    background-color: #debfab; }
.ostrich >div:nth-child(16) {
    clip-path: polygon(46.4% 54.571%, 49.8% 52.571%, 45% 70.429%);
    background-color: #727272; }
.ostrich >div:nth-child(17) {
    clip-path: polygon(45% 70.286%, 46.5% 64.714%, 48.7% 88.143%);
    background-color: #87847d; }
.ostrich >div:nth-child(18) {
    clip-path: polygon(48.7% 27.143%, 66.1% 38.857%, 53.2% 41%);
    background-color: #222627; }
.ostrich >div:nth-child(19) {
    clip-path: polygon(48.7% 27.2%, 57% 28.714%, 66.1% 38.97%);
    background-color: #363837; }
.ostrich >div:nth-child(20) {
    clip-path: polygon(53.2% 40.857%, 66.15% 38.75%, 60.8% 58.571%);
    background-color: #1e1e1e; }
.ostrich >div:nth-child(21) {
    clip-path: polygon(62.7% 51.286%, 66.1% 38.7%, 69.3% 47.286%);
    background-color: #0c0d08; }
.ostrich >div:nth-child(22) {
    clip-path: polygon(66.02% 38.67%, 72.5% 40.714%, 69.2% 47.286%);
    background-color: #060606; }
.ostrich >div:nth-child(23) {
    clip-path: polygon(66.1% 38.8%, 71.3% 32.714%, 72.5% 40.8%);
    background-color: #17140d; }
.ostrich >div:nth-child(24) {
    clip-path: polygon(69.7% 34.429%, 67.3% 25.143%, 71.4% 32.857%);
    background-color: #c4c0b7; }
.ostrich >div:nth-child(25) {
    clip-path: polygon(67.3% 25.143%, 68.2% 20.143%, 71.3% 32.714%);
    background-color: #f8f1e8; }
.ostrich >div:nth-child(26) {
    clip-path: polygon(67.3% 25.143%, 66.6% 19.714%, 69.2% 15.429%);
    background-color: #bebebe; }
.ostrich >div:nth-child(27) {
    clip-path: polygon(66.6% 19.571%, 68% 12.143%, 71.1% 12.857%);
    background-color: #aaaaaa; }
.ostrich >div:nth-child(28) {
    clip-path: polygon(66.6% 19.571%, 67.3% 12.286%, 68.4% 12.429%);
    background-color: #cbbdb0; }
.ostrich >div:nth-child(29) {
    clip-path: polygon(67.3% 12.571%, 67.6% 11.143%, 71.1% 12.714%);
    background-color: #c8c8c8; }
.ostrich >div:nth-child(30) {
    clip-path: polygon(69.2% 15.429%, 71% 12.714%, 73.6% 14.571%);
    background-color: #d84d50; }
.ostrich >div.peripheral {
    background-color: #14aa78; }
.ostrich >div:nth-child(31) {
    background-color: #0f7c58;
    clip-path: polygon(67% 60.5%, 65% 79%, 63% 79%); }
.ostrich >div:nth-child(32) {
    background-color: #14aa78;
    clip-path: polygon(61% 63.5%, 65% 82%, 63% 82%); }

